.register-container {
  margin: 20px;
}

.register-card {
  padding: 10px;
  width: 300px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
}

input {
  width: 100%;
}

.btn-primary {
  background: white;
  padding: 5px 10px;
}

.login-link {
  margin-top: 10px;
}

.login-link a {
  color: blue;
  cursor: pointer;
}
